@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
	margin: 0;
	padding: 0;
}

.banner {
	margin: 0px;
	padding: 0px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.541),
		rgba(3, 3, 3, 0.596)), url(tour-guide-telling-group-tourists-about-museum-exhibits-using-megaphone-flat-horizontal-banner-vector-illustration_1284-71146.jpg);
	height: 100vh;
	background-repeat: no-repeat;
	background-attachment : fixed;
	background-size: 100% 100%;
} 

.top1 {
	width: 100%;
	position: absolute;
	top: 25%;
	font-size: 60px;
	text-align: center;
	color: #a83c32;
	letter-spacing: 2px;
	text-shadow: 1px 6px 10px black;
}

.top3 {
	width: 100%;
	position: absolute;
	top: 50%;
	font-size: 35px;
	text-align: center;
	color: #32a83a;
	letter-spacing: 2px;
	text-shadow: 1px 6px 10px black;
}


.btns {
	display: flex;
	align-items: center;
}

.btns a {
	
	text-align: center;
	height: 60px;
	width: 250px;
	display: block;
	line-height: 60px;
	border-radius: 30px;
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 2px;
	box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.685);
	text-decoration: none;
}

.btns a:first-child {
	background: linear-gradient(-90deg, #f5ce62, #e85a19);
	margin-top: 32%;
	margin-left: 31%;
	text-decoration: none;
	
}

.btns a:last-child {
	background: linear-gradient(90deg, #0162c8, #4a777e);
	margin-top: 32%;
	margin-left: 5%;
}
.btns a:hover{
	background: linear-gradient(-135deg, #52a6dde0, #e962f5);

}